node_modules/
.nodenv-vars

src/css
src/bower_components
src/js/config.js
www/

enviroments/*.json

platforms/android/assets/www/
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/local.properties
platforms/android/local.properties

platforms/ios/www

starting-ionic-template-android-release-key.keystore
StartingIonicTemplate.apk
.idea
